$main-color: #222;
$bg-color: #fff;
$nav-color: #fff;
$link-color: #ef5350;
$footer-color: #fafafa;

$center-size: 0 auto;

body {
  background: $bg-color;
  font-size: 14px;
  font-family: 'Lato', Helvetica, "Microsoft YaHei", sans-serif;
  font-weight: 14px; }

// 字体大小重置
h1 {
  font-size: 28px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

small {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6, p, a, small, pre, code {
  font-weight: 14px; }

p {
  color: $main-color; }

ul, li {
  display: inline-block; }

a {
  text-decoration: none; 
  color: $main-color;
    :hover {
      color: $link-color;
      transition: 0.2s;
    }
  }

// 背景大图两张的地址
.ic-bg {
  background: url(https://ooo.0o0.ooo/2017/04/02/58e0b2058e1f6.png) center bottom, 
  url(https://ooo.0o0.ooo/2017/04/02/58e0b1e207cbf.png) center no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 700px; }

// 导航栏样式
.ic-nav {
  transition: transform 1s ease-in;
  transform:translate(0,-67px);
  background: $nav-color;
  width: 100%;
  position: fixed;
  top: -67;
  margin: $center-size;
  box-shadow: 0 0 9px #eee;
  z-index: 100;
   }
.ic-nav-down {
  transition: transform 0.7s ease-in;
  transform: translate(0, 67px);
  background: $nav-color;
  width: 100%;
  top: -67px;
  position: fixed;
  margin: 0 auto;
  box-shadow: 0 0 9px #eee; 
  z-index: 100;}

.ic-nav-up {
  transition: transform 0.7s ease-in;
  transform: translate(0, -67px);
  background: $nav-color;
  width: 100%;
  position: fixed;
  top: -67px;
  margin: 0 auto;
  box-shadow: 0 0 9px #eee; 
  z-index: 100;}

.main-menu {
  max-width:1100px;
  margin: $center-size;
  padding: 0.5em; 
}

.ic-menu {
  float: right;
  padding: 0.2rem; }

.ic-menu li {
  margin-left: 20px; }

.ic-menu li :hover {
  border-bottom: 2px solid $link-color;
  transition: 0.2s;
  opacity: 0.7; }

.ic-menu li a {
  color: $main-color; }

.center {
  margin: $center-size;
  text-align: center; }

.ic-title {
  padding: 4rem 0;
  color: white;
  width: 70%;
  max-width: 610px;
  h1,h2 {
    color: white;
  }
  h1 {
  font-size: 3.7rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;}
  h2 {
  line-height: 43px;}}

.btn {
  background: transparent;
  line-height: 47px;
  color: $link-color; }

.btn:active, .btn:hover {
  background: $link-color;
  color: white;
  transition: 0.2s; }

.btn-main {
  padding: 13px 30px;
  border: 2px solid $link-color; }

.ic-f {
  margin: $center-size; }

.header-title {
  transform: rotate(90deg);
  position: fixed;
  float: left;
  margin: -19rem -4rem; 
  p {
    text-transform: uppercase;
    color: $main-color;
  }}

.card {
  line-height: 25px;
  padding: 2em;
  margin: 0.3em; }

.card h1 {
  line-height: 13px; }

.text-line {
  border-bottom: 2px solid $link-color;
  width: 30px;
  margin-bottom: 2em; }

.card-2 {
  display: inline-block;
  width: 43.4%; }

.card-3 {
  display: inline-block;
  width: 26.69%; }

.row {
  margin: 5rem auto; }

.ic-f {
  width: 80%;
  margin: $center-size; }

.ic-img {
  :hover {
    opacity: 0.7;
    transition: 0.2s;
  }
}

.ic-footer {
  background: $footer-color;
  padding: 3em 0;
}

.ic-join {
  background: #FFEB3B;
}

// 媒体查询元素
@media (min-width: 73em) {
  .ic-f {
    max-width: 1100px; } }

@media (max-width: 73em) {
  .ic-f {
    width: 90%;
    max-width: 690px; }
  .card-2 {
    width: 40.4%; }
  .card-3 {
    width: 30.7%; } 
  .header-title {
    margin: -11rem -6rem; }}

@media (max-width: 45em) {
  .ic-f {
    width: 80%; }
  .ic-title {
    h1 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  .card {
    padding: 0;
    background: transparent; }
  .m-f {
    margin: 0.3em auto;
    width: 100%; }
  .header-title {
    display: none;
  }
}
